@media screen and (max-width: 1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }    
    #about-containers{
        flex-wrap: wrap
    }
}
@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }    
    #hamburger-nav{
        display: flex;
    }
    .experience-details-container{
        margin-top: 2rem;

    }
    #about, #experience, #projects, #contact {
        margin-top: 2rem;
        margin-bottom: 2rem;
        height: auto;
        min-height: fit-content;
    }
    .section-container{
        display: block;
    }
    #profile {
        display: flex;
        flex-direction: row;  
        justify-content: center;
        align-items: center;
        gap: 5rem;
        height: 80vh;
        margin: 0 10rem;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        margin: 0 5%;
        padding: 4rem 0;
        height: auto;
        min-height: fit-content;

    }

    section{
        margin: 0 5%;
    }

    .section__pic-container{
        width: 400px;
        height: 400px;
        border-radius: 50%;
        overflow: hidden;
    }

    .about-containers{
        display: flex;
        flex-direction: row; /* Side by side on desktop */
        gap: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .details-container {
        padding: 1.5rem;
        flex: 1;
        background: white;
        border-radius: 2rem;
        border: rgb(53, 53, 53) 0.1rem solid;
        border-color: rgb(163,163,163);
        text-align: center;
        min-width: 45%; /* Ensure containers take up roughly half the space */
    }

    @media screen and (max-width: 600px){

        section {
            margin: 0 1rem;
            padding: 2rem 0;
        }

        #contact, footer{
            height: 40vh;
        }

        #profile{
            flex-direction: column;  /* Switches to vertical layout on mobile */
            margin: 0 2rem;
            gap: 2rem;
            height: auto;
            padding: 2rem 0;
        }

        article {
            font-size: 1rem;
        }

        footer nav {
            height: fit-content;
            margin-bottom: 2rem;
        }

        .btn-container{
            flex-wrap: wrap;
        }

        .contact-info-upper-container {
            margin: 2rem 0;
        }

        .about-containers {
            flex-direction: column; /* Stack on mobile */
            gap: 1.5rem;
        }

        .details-container {
            min-width: 100%; /* Full width on mobile */
        }

        .contact-info-container{
            margin: 0;
        }

        .contact-info-container p, .nav-links li a{
            font-size: 1rem;
        }

        .experience-sub-title{
            font-size: 1.25rem;
        }

        .logo{
            font-size: 1.5rem;

        }

        .nav-links{
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
        }

        .section__pic-container{
            width: 275px;
            height: 275px;
            margin: 0 auto;
        }

        .section__text__p2{
            font-size: 1.25rem;
            align-items: center;
            text-align: center;
        }
        .title{
            font-size: 2rem;
        }
       
        .text-container{
            text-align: justify;
        }

        .section-container {
            margin-bottom: 2rem;
        }
    }
}